doctype html
html(lang="it")
  head
    meta(charset="UTF-8")
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    header
      h1= title
    .container
      ul
        each set in lego 
          li
            a(href=`/paolo/${set.id}`)= set.name
            img(src=set.imgSrc.cover)
      a(href="/") vai a paolo